/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
Base
*/

html {
    font-size: 62.5%;
}

* {
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*
Box Model
*/

* {
    box-sizing: border-box;
}


/*
Main Layout
*/

main {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}


/*
Info Section Layout
*/

.infoSection {
    margin-bottom: 50px;
}

.infoHeading {
    text-align: left;
}

.hiddenInfo {
    display: none;
    visibility: hidden;
}

/*
Encounter Section Layout
*/

.encounterSection {
    display: flex;
    margin-bottom: 20px;
}

.encounterDropdownsSection {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.encounterDropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.encounterSection h3 {
    padding: 5px;
}

.encounterThreatSection {
    display: flex;
    justify-content: space-around;
}

.encounterThreatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*
Add Enemy Button Layout
*/

.addEnemyButton {
    margin-bottom: 10px;
}


/*
Enemy Lookup Section Layout
*/

.enemyLookupSection {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


/*
Enemy Stat Section Layout
*/

.enemyStatSection {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    margin-bottom: 10px;
}

.individualStatSection {
    display: flex;
    flex-direction: column;
}

.statHeader,
.statValue,
.enemyNameHeader,
.enemyNameForm {
    padding: 5px;
    text-align: center;
}

.enemyNameForm {
    max-height: 50%;
}

.enemyNameHeader,
.statHeader {
    margin: 0;
}


/*
Info Style
*/

a {
    text-decoration: underline;
}

/*
Encounter Section Style
*/

.encounterSection * {
    font-size: 1.5rem;
}

/*
Add Enemy Button Style
*/

.addEnemyButton {
    font-size: 1.5rem;
}


/*
Enemy Lookup Section Style
*/

.enemyLookupSection * {
    font-size: 1.5rem;
}

/*
Enemy Stat Section Style
*/

.individualStatSection {
    border: 1px solid black;
}

.statHeader,
.enemyNameHeader {
    font-size: 1.6rem;
    border-bottom: 1px solid black;
}

.statValue,
.enemyNameForm {
    font-size: 1.4rem;
}


/*
MEDIA QUERIES
*/

/* Enemy Lookup Stacks Vertically */
@media (max-width: 680px) {

    .enemyLookupSection {
        flex-direction: column;
    }
}

/* Encounter Threat Stacks Under Dropdowns */
@media (max-width: 435px) {

    .encounterSection {
        flex-direction: column;
    }

    .encounterThreatSection {
        justify-content: space-between;
    }

    .encounterThreatContainer {
        flex-direction: row;
        align-items: baseline;
    }
}